@model Advent16.Models.CodeInstructions
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>
    <h1>Bathroom Security</h1>
    <div class="row form-group">
        <div class="col-sm-12">
            Input procedure below to obtain the code for accessing the bathrooms.
        </div>
    </div>
    @using (Html.BeginForm("GetCode", "Day2", FormMethod.Post, new { id = "ProcedureForm" }))
    {
        <div class="form-horizontal">
            <div class="row form-group">
                <div class="col-sm-2">
                    @Html.LabelFor(x => x.Instructions)
                </div>
                <div class="col-sm-10">
                    @Html.TextAreaFor(x => x.Instructions, new { @class = "form-control", rows = "10" })
                </div>
            </div>
            <div class="row form-group">
                <div class="col-sm-6 pull-right">
                    <button name="SubmitProcedure" id="SubmitProcedure" type="button" class="btn btn-primary">Get Code</button>
                    <button name="WeirdCode" id="WeirdCode" type="button" class="btn btn-primary">Get Weird Code</button>
                </div>
            </div>
        </div>
    }
    <br />
    <div class="row" id="Code">

    </div>
</body>

@section Scripts
{
    <script type="text/javascript">
        $('#SubmitProcedure').click(function (e) {
            $.ajax({
                url: "@Url.Action("GetCode", "Day2")",
                data: $("#ProcedureForm").serialize(),
                success: function (result) {
                    $("#Code").html(result);
                }
            });
        })

        $('#WeirdCode').click(function (e) {
            var form = $('#ProcedureForm').serialize();
            $.ajax({
                url: "@Url.Action("GetCode", "Day2")",
                data: $("#ProcedureForm").serialize(),
                success: function (result) {
                    $("#Code").html(result);
                }
            });
        })
    </script>
}


